<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>heeeee</title>
</head>
<body>
<h1>Add a Book</h1>

<form method="POST" action="#"  th:action="@{/addBook}" th:object="${book}" >
    <table>
        <tr>
            <td><label for="title" >Book Title </label></td>
            <td><input id="title" type="text" th:field="*{bookTitle}"/></td>
        </tr>
        <tr>
            <td><label for="description">Book Description </label></td>
            <td><textarea id="description" th:field="*{bookDescription}"/></td>
        </tr>
        <tr>
            <td><label for="author">Book Author </label></td>
            <td><input id="author" th:field="*{bookAuthor}"/></td>
        </tr>
        <tr>
            <td><label for="path">Book Path</label></td>
            <td><input id="path" th:field="*{bookPath}"/></td>
        </tr>

        <tr>
            <td><input type="submit" value="Submit"/><input type="reset" value="Reset" /></td>
        </tr>
    </table>
</form>
</body>
</html>