<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Category List</title>
    <link href="../static/bootstrap-3.3.7/css/bootstrap.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/datatables.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/index.css}" rel="stylesheet" media="screen"/>
    <script type="text/javascript" th:src="@{/jquery/jquery-3.3.1.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/datatables.js}"></script>


</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container col-8">
<h1>List of categories</h1>
<table class="table stripe row-border table-hover align-middle " id="categoriesTable" border="1">
    <thead>

        <th>Category ID:</th>
        <th>Category name:</th>
    </thead>
    <tbody>
    <th:block th:each="cat : ${categories}">
        <tr>
            <td th:text="${cat.categoryID}"></td>

            <td th:text="${cat.categoryName}"></td>
        </tr>
    </th:block>
    </tbody>
</table>
</div>
<script>
    $(document).ready( function () {
        $('#categoriesTable').DataTable();
    } );
</script>
</body>

</html>