<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add a Category</title>
    <link href="../static/bootstrap-3.3.7/css/bootstrap.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script type="text/javascript" th:src="@{/jquery/jquery-3.3.1.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap-3.3.7/js/bootstrap.min.js}"></script>

    <link th:href="@{/css/index.css}" rel="stylesheet" media="screen"/>

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container col-8">
<h1>Add a Book Category</h1>
<form method="POST" action="#"  th:action="@{/category/add}"
      th:object="${cat}" enctype="multipart/form-data" >

    <div class="form-group">
        <label for="categoryName" >Category name: </label>
        <input class="form-control" id="categoryName" type="text" required="required" name ="categoryName" th:field="*{categoryName}"/>
        <small th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}"></small>
    </div>

    <div class="form-group">
        <input class="btn btn-success form-control" type="submit" value="Submit"/>
        <input class="btn btn-warning form-control" type="reset" value="Reset" />
    </div>

</form>
</div>
</body>
</html>