<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Liste des livres</title>
</head>
<body>
<table border="1">
    <tr>
        <th>Book ID</th>
        <th>Book title</th>
        <th>Book Author</th>
        <th>Book Description</th>
        <!--<th>Book Categories</th>-->
        <th>Book Path</th>
        <th>Book Image</th>
    </tr>
    <th:block th:each="book : ${books}">
        <tr>
            <td th:text="${book.bookID}"></td>
            <td th:text="${book.bookTitle}"></td>
            <td th:text="${book.bookAuthor}"> </td>
            <td th:text="${book.bookDescription}"> </td>
            <!--<td th:text="${book.displayBookCategories()}"></td>-->
            <td th:text="${book.bookPath}"></td>
            <td th:text="${book.bookImage}"></td>

        </tr>
    </th:block>
</table>
<a href="/book/add">Add another book</a>

</body>

</html>